[submodule "themes/hugo-split-theme"]
	path = themes/hugo-split-theme
	url = https://github.com/christianmendoza/hugo-split-theme
[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
