<p class="social-icons">
    <a href="https://www.facebook.com/zhdryha" target="_blank" class="social-icon facebook-icon"></a>
    <a href="http://www.linkedin.com/pub/zhanna-dryha/8a/801/344" target="_blank" class="social-icon linkedin-icon"></a>
    <a href="skype:zhannadriga?chat" target="_blank" class="social-icon skype-icon"></a>
    <a href="wechat/" target="_blank" class="social-icon wechat-icon"></a>
    <!--<div class="social-link"><div class="wechat-icon"></div><span class="social-link">ZhannaDryha</span></div>-->
</p>
<p class="social-icons">
	<div class="social-link"><div class="phone-icon"></div><span class="social-link">+14152370555</span></div>
</p>