{{ define "main" }}
	{{ .Content }}



  <script src="
  https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
  "></script>
  <link href="
  https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
  " rel="stylesheet">

  <style>
    .background {
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 100vh;
    }
    overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(204,204,204,0.3) 0%, rgba(204,204,204,0.3) 100%);
    }
    .background-image-6 {
      background-image: url("images/DSCF0194.jpg");
    }
    .background-image-7 {
      background-image: url("images/DSCF0202.jpg");
    }
    .background-image-8 {
      background-image: url("images/DSCF0207.jpg");
    }
    .background-image-9 {
      background-image: url("images/DSCF0205.jpg");
    }
    .background-image-1 {
      background-image: url("images/DSCF0209.jpg");
    }
    .background-image-2 {
      background-image: url("images/DSCF0212.jpg");
    }
    .background-image-3 {
      background-image: url("images/DSCF0218.jpg");
    }
    .background-image-4 {
      background-image: url("images/DSCF0220.jpg");
    }
    .background-image-5 {
      background-image: url("images/DSCF0223.jpg");
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #e5e5e5;
    }

.badge {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes circleToEllipse {
  0% {
    border-radius: 50%;
  }
  50% {
    border-radius: 100% 0 / 50% 50%;
  }
  100% {
    border-radius: 50%;
  }
}

.badge-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  animation: circleToEllipse 24s infinite alternate;
}

.badge-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.badge-content h1 {
  font-size: 2.5em;
  margin: 0;
  color: #e5e5e5;
}

.social-buttons {
  margin-top: 1em;
}

.social-buttons a {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 2em;
  color: #e5e5e5;
}

.social-buttons a:hover {
  color: #333;
}

  </style>
  

<section class="splide" aria-label="Zhanna Dtyha Artworks">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
        <div class="background background-image-1 "><div class="overlay"></div></div>
      </li>
      <li class="splide__slide">
        <div class="background background-image-2 "></div>
      </li>
      <li class="splide__slide">
        <div class="background background-image-3 "></div>
      </li>
      <li class="splide__slide">
        <div class="background background-image-4 "></div>
      </li>
      <li class="splide__slide">
        <div class="background background-image-5 "></div>
      </li>
      <li class="splide__slide">
        <div class="background background-image-6 "></div>
      </li>
      <li class="splide__slide">
        <div class="background background-image-7 "></div>
      </li>
      <li class="splide__slide">
        <div class="background background-image-8 "></div>
      </li>
      <li class="splide__slide">
        <div class="background background-image-9 "></div>
      </li>
		</ul>
  </div>
</section>

<div class="badge">
  <div class="badge-animation"></div>
  <div class="badge-content">
    <h1>Follow Me</h1>
    <div class="social-buttons">
      <a href="https://www.instagram.com/zhannadryha/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/zhanna.dryha" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="mailto:mail@dryha.com"><i class="fa fa-envelope"></i></a>
      
    </div>
  </div>
</div>

<script>
  Splide.defaults = {
    type   : 'fade',
    rewind: true,
    speed: 2000,
    interval: 14000,
    width : '100%',
    arrows : false,
    autoplay : true,
    lazyLoad: 'sequential',
  }
  new Splide( '.splide' ).mount();

</script>


{{ end }}